﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MyFirst.ascx.cs" Inherits="Intranet.DesktopModules.ItcAccess.MyFirst" %>
<%@ Register assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagprefix="telerik" %>

                
            

