﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FrmUserManagement.ascx.cs"
    Inherits="Intranet.DesktopModules.ItcAccess.BaseInfo.FrmUserManagement" %>
<%@ Register Assembly="ITC.Library" Namespace="ITC.Library.Controls" TagPrefix="cc1" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register Src="../MessageErrorControl.ascx" TagName="messageerrorcontrol" TagPrefix="uc1" %>
<script type="text/javascript">

    function RowSelected(sender, eventArgs) {
        var oArg = new Object();
        oArg.Title = eventArgs._dataKeyValues.UserAndGroupName;
        oArg.KeyId = eventArgs._dataKeyValues.UserAndGroupId;
        var oWnd = GetRadWindow();
        oWnd.close(oArg);
    }
    function GetRadWindow() {
        var oWindow = null;
        if (window.radWindow) oWindow = window.radWindow;
        else if (window.frameElement.radWindow) oWindow = window.frameElement.radWindow;
        return oWindow;
    }
</script>
<div>
    <asp:Panel Direction="RightToLeft" runat="server" ID="pnlAll" BorderColor="White"
        BorderWidth="2px">
        <table dir="rtl">
            <tr>
                <td align="right">
                    <cc1:CustomRadButton ID="BtnAdd" runat="server" OnClick="BtnAdd_Click">
                    </cc1:CustomRadButton>
                </td>
                <td align="right">
                    <cc1:CustomRadButton ID="BtnEdit" runat="server" CustomeButtonType="Edit" OnClick="BtnEdit_Click">
                        <Icon PrimaryIconCssClass="rbEdit" />
                    </cc1:CustomRadButton>
                </td>
                <td align="right">
                    <cc1:CustomRadButton ID="BtnSearch" runat="server" CausesValidation="False" CustomeButtonType="Search"
                        OnClick="BtnSearch_Click">
                        <Icon PrimaryIconCssClass="rbSearch" />
                    </cc1:CustomRadButton>
                </td>
                <td align="right">
                    <cc1:CustomRadButton ID="BtnShowAll" runat="server" CausesValidation="False" CustomeButtonType="ShowAll"
                        OnClick="BtnShowAll_Click">
                        <Icon PrimaryIconCssClass="rbRefresh" />
                    </cc1:CustomRadButton>
                </td>
                <td align="right">
                    <uc1:MessageErrorControl ID="MessageErrorControl1" runat="server" />
                </td>
            </tr>
        </table>
        <table dir="rtl" width="100%">
            <tr>
                <td nowrap="nowrap" width="10%">
                    &nbsp;<asp:Panel ID="pnlControls" runat="server">
                        <table>
                            <tr>
                                <td width="10%" align="right">
                                    <asp:Label ID="LblName" runat="server" Text="نام کاربری :"></asp:Label>
                                </td>
                                <td width="30%">
                                    <telerik:RadTextBox ID="TxtName" runat="server" Skin="Office2007" Width="300px">
                                    </telerik:RadTextBox>
                                </td>
                                <td width="10%">
                                    <asp:RequiredFieldValidator ID="rfvName" runat="server" ControlToValidate="TxtName"
                                        ErrorMessage="*"></asp:RequiredFieldValidator>
                                </td>
                                <td width="10%">
                                </td>
                                <td width="30%">
                                </td>
                                <td width="10%">
                                </td>
                            </tr>
                            <tr>
                                <td align="right" width="10%" nowrap="nowrap">
                                    <asp:Label ID="LblUserPass0" runat="server" Text="نام کاربری در سایت:"></asp:Label>
                                </td>
                                <td width="30%">
                                    <cc1:SelectControl ID="txtPortalUser" runat="server" 
                                        PortalPathUrl="ItcAccess/ModalForm/FrmPortalUserSearch.aspx" />
                                </td>
                                <td width="10%">
                                    &nbsp;</td>
                                <td width="10%">
                                    &nbsp;</td>
                                <td width="30%">
                                    &nbsp;
                                </td>
                                <td width="10%">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td width="10%" align="right">
                                    <asp:Label ID="LblIsActive" runat="server" Text="وضیعت رکورد:"></asp:Label>
                                </td>
                                <td width="30%">
                                    <telerik:RadComboBox ID="CmbIsActive" runat="server" KeyId="" Skin="Office2007" Width="300px"
                                        Filter="Contains" MarkFirstMatch="True">
                                        <Items>
                                            <telerik:RadComboBoxItem runat="server" Selected="True" Text="" Value="-1" />
                                            <telerik:RadComboBoxItem runat="server" Text="فعال" Value="True" />
                                            <telerik:RadComboBoxItem runat="server" Text="غیر فعال" Value="False" />
                                        </Items>
                                    </telerik:RadComboBox>
                                </td>
                                <td width="10%">
                                    <asp:RequiredFieldValidator ID="rfvIsActive" runat="server" ControlToValidate="CmbIsActive"
                                        ErrorMessage="*" InitialValue=""></asp:RequiredFieldValidator>
                                </td>
                                <td width="10%">
                                </td>
                                <td width="30%">
                                </td>
                                <td width="10%">
                                </td>
                            </tr>
                        </table>
                    </asp:Panel>
                </td>
            </tr>
        </table>
        <telerik:RadGrid ID="GrvUserAndGroup" runat="server" AllowPaging="True" AllowSorting="True"
            AutoGenerateColumns="False" CellSpacing="0" GridLines="None" 
            Skin="Office2007" OnItemCommand="GrvUserAndGroup_ItemCommand"
            OnPageIndexChanged="GrvUserAndGroup_PageIndexChanged" OnPageSizeChanged="GrvUserAndGroup_PageSizeChanged"
            OnSortCommand="GrvUserAndGroup_SortCommand" Width="100%" OnNeedDataSource="GrvUserAndGroup_NeedDataSource"
            AllowCustomPaging="True" OnItemDataBound="GrvUserAndGroup_ItemDataBound">
            <HeaderContextMenu CssClass="GridContextMenu GridContextMenu_Default">
            </HeaderContextMenu>
            <MasterTableView DataKeyNames="UserAndGroupId" Dir="RTL" NoMasterRecordsText="اطلاعاتی برای نمایش یافت نشد"
                ClientDataKeyNames="UserAndGroupName,UserAndGroupId">
                <CommandItemSettings ExportToPdfText="Export to PDF" />
                <RowIndicatorColumn FilterControlAltText="Filter RowIndicator column">
                    <HeaderStyle Width="20px" />
                </RowIndicatorColumn>
                <ExpandCollapseColumn FilterControlAltText="Filter ExpandColumn column">
                    <HeaderStyle Width="20px" />
                </ExpandCollapseColumn>
                <Columns>
                    <telerik:GridBoundColumn DataField="UserAndGroupName" FilterControlAltText="Filter UserAndGroupName column"
                        HeaderText="نام کاربری" SortExpression="UserAndGroupName" UniqueName="UserAndGroupName">
                        <HeaderStyle HorizontalAlign="Right" Wrap="False" />
                        <ItemStyle HorizontalAlign="Right" Wrap="False" />
                    </telerik:GridBoundColumn>
                    <telerik:GridBoundColumn DataField="FullName" FilterControlAltText="Filter FullName column"
                        HeaderText="نام و نام خانوادگی" SortExpression="FullName" UniqueName="FullName">
                        <HeaderStyle HorizontalAlign="Center" Wrap="False" />
                        <ItemStyle HorizontalAlign="Center" Wrap="False" />
                    </telerik:GridBoundColumn>
                    <telerik:GridBoundColumn DataField="IsBuiltinText" FilterControlAltText="Filter IsBuiltinText column"
                        HeaderText="آیا تو ساخته است؟" SortExpression="IsBuiltinText" UniqueName="IsBuiltinText">
                        <HeaderStyle HorizontalAlign="center" Wrap="False" />
                        <ItemStyle HorizontalAlign="Center" Wrap="False" />
                    </telerik:GridBoundColumn>
                    <telerik:GridBoundColumn DataField="IsActiveText" FilterControlAltText="Filter IsActiveText column"
                        HeaderText="وضعیت رکورد" SortExpression="IsActiveText" UniqueName="IsActiveText">
                        <HeaderStyle HorizontalAlign="Center" Wrap="False" />
                        <ItemStyle HorizontalAlign="Center" Wrap="False" />
                    </telerik:GridBoundColumn>
                    <telerik:GridTemplateColumn FilterControlAltText="Filter TemplateColumn column" HeaderText="عضویت در گروه"
                        UniqueName="_GroupManage">
                        <ItemTemplate>
                            <cc1:SelectControl ID="SelectControlGroupManage" runat="server" WhereClause='<%#Eval("UserAndGroupId").ToString() %>'  EnableViewState="True"
                                RadWindowHeight="600" RadWindowWidth="800" imageName="MemberShip" Width="1px"
                                PortalPathUrl="ItcAccess/ModalForm/FrmUserGroupManage.aspx" />
                        </ItemTemplate>
                        <HeaderStyle HorizontalAlign="Center" />
                        <ItemStyle HorizontalAlign="Center" />
                    </telerik:GridTemplateColumn>
                    <telerik:GridTemplateColumn FilterControlAltText="Filter TemplateColumn column" HeaderText="تعیین نقشهای کاربر"
                        UniqueName="_UserRoles">
                        <ItemTemplate>
                            <cc1:SelectControl ID="SelectControlUserRoles" runat="server" WhereClause='<%#Eval("UserAndGroupId").ToString() %>' EnableViewState="True"
                                RadWindowHeight="600" RadWindowWidth="800" imageName="Person" Width="1px" PortalPathUrl="ItcAccess/ModalForm/FrmSetUserRoles.aspx" />
                        </ItemTemplate>
                        <HeaderStyle HorizontalAlign="Center" />
                        <ItemStyle HorizontalAlign="Center" />
                    </telerik:GridTemplateColumn>
                    <telerik:GridTemplateColumn FilterControlAltText="Filter TemplateColumn column" HeaderText="تعیین دسترسی های کاربر"
                        UniqueName="_UserRowAccess">
                        <ItemTemplate>
                            <cc1:SelectControl ID="SelectControlUserRowAccess" runat="server" WhereClause='<%#Eval("UserAndGroupId").ToString() %>' 
                                RadWindowHeight="700" RadWindowWidth="1000" imageName="Bullets" Width="1px" EnableViewState="True"
                                PortalPathUrl="ItcAccess/ModalForm/FrmSetRowAccessForUser.aspx" />
                        </ItemTemplate>
                        <HeaderStyle HorizontalAlign="Center" />
                        <ItemStyle HorizontalAlign="Center" />
                    </telerik:GridTemplateColumn>
                    <telerik:GridTemplateColumn FilterControlAltText="Filter TemplateColumn column" HeaderText="ویرایش"
                        UniqueName="Edit">
                        <ItemTemplate>
                            <asp:ImageButton ID="ImgButton" runat="server" CausesValidation="false" CommandArgument='<%#Eval("UserAndGroupId").ToString() %>'
                                CommandName="_MyِEdit" ForeColor="#000066" ImageUrl="../Images/Edit.bmp" /></ItemTemplate>
                        <HeaderStyle HorizontalAlign="Center" />
                        <ItemStyle HorizontalAlign="Center" />
                    </telerik:GridTemplateColumn>
                    <telerik:GridTemplateColumn FilterControlAltText="Filter TemplateColumn column" HeaderText="حذف"
                        UniqueName="Delete">
                        <ItemTemplate>
                            <asp:ImageButton ID="ImgButton1" runat="server" CausesValidation="false" CommandArgument='<%#Eval("UserAndGroupId").ToString() %>'
                                CommandName="_MyِDelete" ForeColor="#000066" ImageUrl="../Images/Delete.bmp"
                                OnClientClick="if (!confirm('آیا اطلاعات رکورد حذف شود؟?')) return false;" /></ItemTemplate>
                        <HeaderStyle HorizontalAlign="Center" />
                        <ItemStyle HorizontalAlign="Center" />
                    </telerik:GridTemplateColumn>
                </Columns>
                <EditFormSettings>
                    <EditColumn FilterControlAltText="Filter EditCommandColumn column">
                    </EditColumn>
                </EditFormSettings>
                <PagerStyle FirstPageToolTip="صفحه اول" LastPageToolTip="صفحه آخر" NextPagesToolTip="صفحات بعدی"
                    NextPageToolTip="صفحه بعدی" PagerTextFormat="تغییر صفحه: {4} &amp;nbsp;صفحه &lt;strong&gt;{0}&lt;/strong&gt; از &lt;strong&gt;{1}&lt;/strong&gt;, آیتم &lt;strong&gt;{2}&lt;/strong&gt; تا &lt;strong&gt;{3}&lt;/strong&gt; از &lt;strong&gt;{5}&lt;/strong&gt;."
                    PageSizeLabelText="اندازه صفحه" PrevPagesToolTip="صفحات قبلی" PrevPageToolTip="صفحه قبلی"
                    VerticalAlign="Middle" HorizontalAlign="Center" />
            </MasterTableView><HeaderStyle Height="40px" />
            <ClientSettings ReorderColumnsOnClient="True" AllowColumnsReorder="True" EnableRowHoverStyle="true">
                <Selecting AllowRowSelect="True"></Selecting>
            </ClientSettings>
            <FilterMenu EnableImageSprites="False">
            </FilterMenu>
        </telerik:RadGrid>
    </asp:Panel>
    <telerik:RadAjaxLoadingPanel ID="RadAjaxLoadingPanel1" runat="server" Skin="Windows7">
    </telerik:RadAjaxLoadingPanel>
</div>
<telerik:RadAjaxManagerProxy ID="RadAjaxManager1" runat="server">
    <AjaxSettings>
        <telerik:AjaxSetting AjaxControlID="BtnAdd">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlAll" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="BtnEdit">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlAll" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="BtnSearch">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlAll" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="BtnShowAll">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlAll" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
        <telerik:AjaxSetting AjaxControlID="GrvUserAndGroup">
            <UpdatedControls>
                <telerik:AjaxUpdatedControl ControlID="pnlAll" LoadingPanelID="RadAjaxLoadingPanel1" />
            </UpdatedControls>
        </telerik:AjaxSetting>
    </AjaxSettings>
</telerik:RadAjaxManagerProxy>
