﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="test.ascx.cs" Inherits="Intranet.DesktopModules.ItcAccess.BaseInfo.test" %>
<%@ Register assembly="ITC.Library" namespace="ITC.Library.Controls" tagprefix="cc1" %>
                                        <cc1:SelectControl ID="SelectControlPerson" runat="server" RadWindowHeight="700"
                                            RadWindowWidth="850" 
    imageName="RunQuery" Width="1px" 
                                            
    PortalPathUrl="ItcAccess/ModalForm/FrmRunSqlQueryForRowAccess.aspx" />
                                    
