﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WebUserControl1.ascx.cs" Inherits="Intranet.DesktopModules.ItcAccess.BaseInfo.WebUserControl1" %>
<%@ Register assembly="ITC.Library" namespace="ITC.Library.Controls" tagprefix="cc1" %>

<cc1:AjaxButton ID="AjaxButton1" runat="server" />

